<html>

<head>
  <style>
  {{component "css-global-reset"}}
  {{component "css-global-styles"}}
  {{component "css-page-login"}}
  {{component "css-panel-page"}}
  </style>
</head>

<body id="login-page">
  <div class="panel-container">
    <div class="panel-content">
      <div id="login-page-logo">
        <a href="/"><img src="https://{{@root.globals.filesRoot}}/{{application.id}}/kanarra-logo-stacked.png"
            width="171"></a>
      </div>
      {{#eq request.query.submitted 'true'}}
        <div class="alert alert-success" role="alert">
          If an account exists for the email provided, an e-mail will be sent with further instructions.
        </div>
      {{/eq}}
      <form id="login-page-form" action="/forgot-password" method="POST">
        <label for="email">Enter your email address to reset your password:</label>
        <input type="text" id="email" name="email" placeholder="jane@example.com"
          {{#eq request.query.invalid 'true'}}class="login-page-invalid" {{/eq}}>
        <button>Sign In</button>
      </form>
      <div id="login-page-account-links">
        <a href="/login">Return to Login</a>
      </div>
      <div id="login-page-copyright">
        Copyright © 2019, Kanarra Technologies Inc, All Rights Reserved
      </div>
      <div style="position:absolute;bottom:10px;left:10px;">
        <a style="font-size:12px;" href="/about">About</a>
      </div>
    </div>
  </div>
</body>

</html>
