<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <style>
  {{component "css-global-reset"}}
  {{component "css-global-styles"}}
  {{component "css-page-login"}}
  </style>
</head>

<body id="login-page">
  <div id="login-page-container">
    <div id="login-page-content">
      <div id="login-page-logo">
        <a href="/"><img src="https://{{@root.globals.filesRoot}}/{{application.id}}/kanarra-logo-stacked.png"
            width="171"></a>
      </div>
      {{#eq request.query.success 'true'}}
        <div class="alert alert-success" role="alert">
          Password change success. Please log in with your new password. 
        </div>
      {{/eq}}
      <form id="login-page-form" action="/reset-password" method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="****"
          {{#eq request.query.invalid 'true'}}class="login-page-invalid" {{/eq}}>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="****"
          {{#eq request.query.invalid 'true'}}class="login-page-invalid" {{/eq}}>
        <input type="hidden" id="code" name="code" value="{{request.query.code}}">
        <button>Reset Password</button>
      </form>
      <div id="login-page-copyright">
        Copyright © 2019, Kanarra Technologies Inc, All Rights Reserved
      </div>
    </div>
  </div>
</body>

</html>